/* FOOTER */
.footer{
    margin-top: 150px !important;
    padding-top: 20px;
    background-color: #232323 !important;
  }
  
  .small-footer{
    background-color: #232323 !important;
    padding: 40px 20px 10px 20px;
  }
  
  .footer-logo{
    padding-top: 1%;
  }
  
  .footer-sell-text{
    font-family: Roboto, sans-serif;
    /* color: rgb(35, 35, 35); */
    /* text-transform: uppercase; */
    font-weight: 400;
    font-style: normal;
    font-size: 0.75em;
  }
  
  /* FOOTER */