/* SIDEBAR */

.catalog-sidebar-navigation label{
  cursor: pointer;
}
.catalog-container{
  min-height: 600px;
}

.sidebar-text{
    font-family: Roboto, inherit;
    /* color: #0080ff; */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
  
    margin-top: 8px;
  }

  .catalog-checkbox-label{
    font-family: Roboto, inherit;
    color: #3f3f3f;
    text-transform: uppercase;
    letter-spacing: 0.2dvh;
    font-style: normal;
    font-weight: 300;
    font-size: 0.7em;

    margin-left: 3px;
  }
  
  .sidebar-price{
    font-family: Roboto, sans-serif;
    color: #91c0c0;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
  }
  
  .slider-block{
    margin-left: 15px;
  }
  
  .category-checkboxes, .price-text{
    font-family: Roboto, sans-serif;
    color: rgb(68 68 68);
    font-style: normal;
    font-weight: 300;
    font-size: 0.85em;
  }
  
  .sizes-button{
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 0%;
  }
  
  .sizes-button:checked{
    color: #11aa0c;
  }
  
  /* SIDEBAR */