/* BUY BUTTON */
.buy-button{
    background-color: transparent !important;
    color: #91c0c0 !important;
    width: 90px; height: 30px;
    border-radius: 0% !important;
    border: 2px solid #91c0c0 !important;
    --bs-btn-padding-x: none !important;
  }
  
  .buy-button:hover{
    background-color: #91c0c0 !important;
    color: #ffffff !important;
    border-radius: 0% !important;
    border: 2px solid #91c0c0 !important;
  }
  /* BUY BUTTON */
  
  /* SINGLE ITEM PAGE */
  .item-title{
    font-size: 26px;
    font-style: italic;
    font-family: Ubuntu, sans-serif;
  }
  
  .item-sub-title{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    color: #303130;
  }
  
  .description-title{
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
  }
  
  .item-description{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
  }
  
  .item-composition{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
  }
  
  .item-price-block{
    font-size: 26px;
    margin-top: 10px;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    display: block;
  }
  
  .item-price{
    font-size: 24px;
    font-family: Ubuntu, sans-serif;
    font-weight: 450;
    float: right;
    margin-right: 9%;
    margin-top: 6px;
  }
  
  .price-title{
    font-size: 14px;
    color: #303130;
    font-family: Ubuntu, sans-serif;
    font-weight: 350;
    margin-right: 10px;
  }
  
  .buy-block{
    margin-right: 9%;
  }

  /* SIZES */
.item-sizes-button{
  margin-right: 5px;
  /* margin-top: 5px; */
  border-radius: 0%;
}

.item-sizes-button:checked{
  color: #11aa0c;
}

.item-colors-button{
  margin-right: 5px;
  /* margin-top: 5px; */
  border-radius: 0%;
}

.item-colors-button:checked{
  color: #11aa0c;
}

.size-title{
  font-size: 14px;
  color: #303130;
  font-family: Ubuntu, sans-serif;
  font-weight: 350;

  margin-bottom: 0px;
}
/* SIZES */
/* SIZES TABLE BLOCK */
.size-img{
  width: 200px;
}

.size-table{
  border-collapse: collapse;
  width: 100%;
  color: #000;
}

.size-table th {
  border-bottom: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}

.size-table td {
  text-align: center;
  border: 1px solid #b3b3b3;
  padding-bottom: 5px;
  padding-top: 15px;
}

.sizes-table-link{
  border-bottom: 1px solid rgba(0, 0, 0, .639);
  color: #303130;
  font-size: 13px;
}
/* SIZES TABLE BLOCK */
/* ITEM PAGE BUY BUTTON */

.buy-button-item-page{
  background-color: transparent !important;
  color: #91c0c0 !important;
  width: 84px; height: 30px;
  border-radius: 0% !important;
  border: 2px solid #91c0c0 !important;
  --bs-btn-padding-x: none !important;
}

.buy-button-item-page:hover{
  background-color: #91c0c0 !important;
  color: #ffffff !important;
  border-radius: 0% !important;
  border: 2px solid #91c0c0 !important;
}
/* ITEM PAGE BUY BUTTON */