/* MAIN SLIIDER */
.slider-img{
    max-height: 87vh; /* Задайте бажану максимальну висоту */
    object-fit: cover; /* Обрізає зображення, щоб воно заповнило контейнер, не порушуючи пропорції */
    width: 100%;
  }
  /* MAIN SLIDER */