/* ADMIN */

html, body, #root {
  height: 100%;
  margin: 0;
}

#adminContainer{
  height: 100%;

}

#adminRow{
  height: 100%;
  
}

.adminHeader{
  background-color: #3d3d3d;
  padding: 0;
  height: 60px;
}
.adminHeader a {
  color: white;
}
.adminHeader a:hover {
  color: white;
  font-weight: 600;
  
}

div.adminHeaderContainer{
  padding-left: 50px;
  width: 100%; max-width: 100%;
}

.leftBar {
  color: rgb(255 255 255 / 70%);
  background-color: #4c4c4c;
  border-right: 1px solid rgb(255 255 255 / 50%);
  flex: 0 0 15%;
  height: 100%;
  
}

.mainContent {
  /* color: rgb(255 255 255 / 70%); */
  /* background-color: #181818; */

  flex: 1;
  height: 100%;
}

div .list-group-item{
  color: rgb(255 255 255 / 70%);
  background-color: #181818;
}

div .list-group{
  margin-top: 8%;
}


.leftBar {
  color: rgb(255 255 255 / 70%);
  background-color: #4c4c4c;
  border-right: 1px solid rgb(255 255 255 / 50%);
  flex: 0 0 15%;
  height: 100%;
  
}
/* ADMIN  */